<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>PeekF: Peek for Wine</title>

{#    <meta http-equiv="X-UA-Compatible" content="IE=edge">#}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">

        <script src="../static/bootstrap/assets/js/ie-emulation-modes-warning.js"></script>

		<link rel="stylesheet" href="../static/bootstrap/dist/css/bootstrap.min.css">
    		<link rel="stylesheet" href="../static/bootstrap/dist/css/bootstrap-theme.min.css">

	<script src="../static/bootstrap/assets/js/vendor/jquery.min.js"></script>
	<script src="../static/bootstrap/dist/js/bootstrap.min.js"></script>



</head>

 
<body>

<a href="#" data-toggle="popover" title="Example popover">
    请悬停在我的上面
mm</a>

<form action="/PeekF/index/" method="post" enctype="multipart/form-data">

    {% csrf_token %}  
    name: <input type="text" name="name"><br>

    age: <input type="text" name="age"><br>

{#    birthday: <input type="date" name="birthday"><br>#}

    <input type="submit" value="提交-">

</form>
<div class="col-lg-12" style="margin-bottom: 20px;">
                <a class="{% if type == '' %}btn btn-danger{% else %}btn btn-default{% endif %}" href="?type=" role="button">全部</a>
                <a class="{% if type == 'fl' %}btn btn-danger{% else %}btn btn-default{% endif %}" href="?type=fl" role="button">法律</a>
                <a class="{% if type == 'xzfg' %}btn btn-danger{% else %}btn btn-default{% endif %}" href="?type=xzfg" role="button">行政法规</a>
                <a class="{% if type == 'bmgz' %}btn btn-danger{% else %}btn btn-default{% endif %}" href="?type=bmgz" role="button">部门规章</a>
                <a class="{% if type == 'dfgz' %}btn btn-danger{% else %}btn btn-default{% endif %}" href="?type=dfgz" role="button">地方规章</a>
</div>

    <br>

    列表：

    <table>

        <tr><td>id</td><td>name</td><td>age</td></tr>

        {% for a in list %}

     <tr>

        <td><a href="#" data-toggle="popover" title="Example popover">
    请悬停在我的上面
mm</a></td><td>{{a.group|safe}}</td><td>{{a.age|safe}}</td>

     </tr>

    {%endfor%}

</table>
<button type="button" class="btn btn-default" title="Popover title"
			data-container="body" data-toggle="popover" data-placement="right"
			data-content="左侧的 Popover 中的一些内容">
		左侧的 Popover
	</button>

        <script>
        $(function () {
            $("[data-toggle='popover']").popover();
        });
        </script>

</body>

 

</html>